



<!-- <ul class="mdl-list mdl-cell mdl-cell--8-col">
  {{#each articles}}
    <li class="mdl-list__item mdl-list__item--three-line article">
      <span data-title="{{title}}" class="mdl-list__item-primary-content">
        <i class="material-icons">description</i>
        {{title}}.
        <span class="mdl-list__item-text-body">
          <a href="{{link}}">
            Check It Out!
          </a>
        </span>
      </span>

      <span class="mdl-list__item-secondary-content">
        <a class="mdl-list__item-secondary-action" id="save" href="#">
          <i class="material-icons">save</i>
        </a>
      </span>
    </li>
  {{/each}}
</ul> -->

{{#each articles}}
    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <a href="{{link}}"><i class="material-icons">link</i></a>
      </div>
      <div class="mdl-card__media">
        <img src="http://via.placeholder.com/454x150" alt="article_image">
      </div>
      <div class="mdl-card__supporting-text">
        {{title}}
      </div>
      <div class="mdl-card__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent"
                id="save-button">
          Save Article
        </button>
        <!-- <form class="articleForm" id="formValidate" action="/comment" method="post">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="comment" id="comment">
            <label class="mdl-textfield__label" for="comment">Enter Comment</label>
          </div>
        </form> -->
      </div>
    </div>
{{/each}}
